@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* .clock{
    width: 100%;
    min-height:100vh;
    background-color: rgb(175, 186, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.box{
    height: 20%;
    width: 80%;
    background-color: rgb(10, 10, 10);
    /* color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 0px;
}
.time{
    /* position: relative; */
    width : 10%;
    margin: 0px 0px;
    padding: 0 5px;
    height: 80%;
    font-size: 7vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    height: 100%;
    text-align: center;
    /* position: absolute; */
    background-color: rgb(10, 10, 10);
    width : 80px;
}
p{
    font-size: 8vw;
    padding-top:3%;
}


.visible{
    height: 90vh;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    visibility: visible;
}
.tb{
    height: 90vh;
    width: 40vw;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    visibility: hidden;
    margin-left: 10px;
}
.tbody{
    display: flex;
    flex-direction: column;
    height: 86%;
    width: 40vw;
    overflow:scroll;
    font-size: 1.3vw;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    /* border-bottom: 0.04vw solid grey; */
}
.c1{
    width:30%;
    height:100%;
    text-align: center;
}
.tbody .c2{
    width: 30%;
    align-self: flex-start;
    padding:0 2vw 0 0;
}
.tbody2{
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 1.5vw;
    color: rgb(163, 163, 163);
} 
.tbody2 .c2{
    width: 30%;
    align-self: center;
    padding:0 2vw 0 0;
}


.btn1{
    background-color: rgb(0, 106, 255);
    color: white;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 70%;
    border: none;
    border-radius: 50%;
}
.btn2{
    background-color: black;
    color: white;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 70%;
    border: none;
    border-radius: 50%;
}
button:hover{
    transform: scale(1.1);
}

